body {
    background-image:url("../images/weather.png");
    width: 100%;
    padding-left:20px;
    padding-right:20px;
}

.jumbotron {
    background-image:url("../images/background.png");
    text-align:center;
    height:140px;
    padding:0;
    width:100%;
}

.card-title {
    font-family: 'Bungee Inline', cursive;
}

.cardboxes {
    background-image:url("../images/retina_wood.png");
}

.gametitle {
    font-family: 'Fredericka the Great', cursive;
}

.musicbtn, .pausebtn {
  background-color:lightblue;
}

.mainboxes {
    margin-top:50px;
}